body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.half-width h1{
    font-size: 50px;
}
.half-width h2{
    font-size: 40px;
}

.half-width h3{
    font-size: 26px;
}
.half-width p{
    font-size: 16px;
    color: #DBDBDB;
    text-align: justify;
}

.half-width a{
    background: linear-gradient(45deg,lightsalmon, tomato);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img{
    width: 100%;
}

.orange-highlight{
    color: gold;
}

section{
    height: 500px;
    padding-bottom: 200px;
}

.top-area{
    background: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.middle-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 70%;
    background: white;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,salmon,tomato);
    border-image-slice: 1;
}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,#0010FF, #00ECFF);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: gray;
    font-size: 10px;
}

